p {
  margin: 0;
}
.casting {
  display: flex;
  justify-content: space-around;
}
.casting-text {
  width: 60%;
}

.casting-form {
  width: 35%;
}
.form-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
}
.casting-text__school,
.casting-text__model {
  width: 45%;
}
.casting-text__inner {
  display: flex;
  justify-content: space-between;
  text-align: justify;
}
.casting-text__model span,
.casting-text__school span {
  font-weight: bold;
}
.casting__heading {
  display: flex;
  justify-content: center;
  font-family: $font-Uniq;
  font-size: 30px;
  text-transform: uppercase;
}
.casting-text__inner {
  color: #808080;
}

label {
  color: #808080;
  text-transform: uppercase;
  margin-bottom: 5px;
}
input {
  border: 0;
  border-bottom: 1px solid #808080;
  margin-bottom: 10px;
  width: 60%;
  transition: .3s;
}
input:focus {
  outline: none;
  border: 0;
  border-bottom: 1px solid #CD456B;
}

.btn-sent {
  border: 1px solid #808080;
  background-color: transparent;
  color: #808080;
  text-transform: uppercase;
  padding: 5px 10px;
  transition: .3s linear;
  cursor: pointer;
  outline: none;
  align-self: center;

  &:hover {
    background:  #CD456B;
    color: white;
    border: 1px solid transparent;
  }
  &:hover span {
    color: black;
  }
  &:active {
    background: #808080;
  }
  & span {
    color: #CD456B;
  }
}


////////////////////// radio button


.list__item {
	position: relative;
	&:hover .label {
		color: #CD456B;
		&::before {
			border: 5px solid #CD456B;
			margin-right: 2rem;
		}
	}
}

.radio-btn {
	display: none;
	&:checked + .label {
		color: #CD456B;
		&::before {
			margin-right: 2rem;
			border: 5px solid #CD456B;
			background: #808080;
		}
	}
}

.label {
	display: flex;
	align-items: center;
	padding: 1rem 0;
	color: #808080;
	font-size: 15px;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 0.25s linear;
}

.label::before {
	display: block;
	height: 15px;
	width: 15px;
	margin-right: 0.625rem;
	content: "";
	border: 5px solid #808080;
	border-radius: 50%;
	transition: all 0.25s linear;
}

///////////////////////////    Media querries /////////////////////



@media (min-width: 480px) and (max-width: 767px){
  .casting {
    flex-direction: column;
    align-items: center;
  }
  .casting-form {
    width: 60%;
    margin-top: 15px;
    margin-left: 45px;
  }
  .form-inner {
    height: 65vh;

  }
  input {
    width: 40%;
  }

}

@media (max-width: 479px){

  .casting-text {
    width: 90%;
  }

  .casting-text__inner {
    flex-direction: column;
    align-items: center;
  }
  .casting-text__school,
   .casting-text__model {
    width: 90%;
    text-align: left;
  }
  .casting-text__model {
    margin-top: 20px;
  }
  .casting {
    flex-direction: column;
    align-items: center;
  }
  .casting-form {
    width: 90%;
    margin-top: 20px;
  }
  .form-inner {


  }
}
