
body {
  margin: 0;
}

.first-link{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper-img{
  width: 70vh;
}
.city {
  margin-top: 20px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: #CD456B;
  font-weight: 300;
  font-size: 30px;
  word-spacing: 20px;
  letter-spacing: 10px;
}
.casting__heading {
  display: flex;
  justify-content: center;
  font-family: $font-Uniq;
  font-size: 30px;
  text-transform: uppercase;
}
.casting-text__inner {
  color: #808080;
}
