footer {
  margin-top: 50px;
}
.footer__head {
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
}

.socials {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid black;
  margin-bottom: 40px;
}
.my {
  font-size: 35px !important;
  color: black;
  margin-bottom: 20px;
  transition: .3s;

  &:hover {
    color: #CD456B;
  }
}
