.portfolio {
  position: relative;
  height: 80vh;
  transition: opacity 1s ease-in-out;
  display: flex;
}
.slideshow{
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  height: 80vh;
  justify-content: space-around;
}
img {
  max-height: 100%;
}

.portfolio__text {
  width: 35%;
  font-family: $font-Uniq;
  text-align: center;
}

.coner {
  position: absolute;
  left: 87%;
  top: 85%;
  width: 150px;
  height: 100px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  z-index: 100;
}

/////////////////   Media querries     /////////



@media (min-width: 992px) and (max-width: 1200px){
  .coner {
    left:83%;
  }
}

@media (min-width: 768px) and (max-width: 991px){

  .portfolio__text {
    width: 32%;
  }
  .coner {
    left:78%;
  }
}

@media (min-width: 480px) and (max-width: 767px){
  .portfolio {
    margin-bottom: 100px;
  }
  .slideshow {
    flex-direction: column;
  }
  .portfolio__text {
    width: 70%;
    margin-top: 20px;
  }
  .coner {
    left: 67%;
    top: 90%;
  }
}

@media (max-width: 479px){
  .portfolio {
    margin-bottom: 100px;
  }
  .slideshow {
    flex-direction: column;

    & img {
      max-width: 90%;
    }
  }
  .portfolio__text {
    width: 80%;
    margin-top: 20px;
  }
  .coner {
    width: 100px;
    height: 50px;
    left: 65%;
    top: 100%;
  }

}
