.school-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.school__top,
.school__photo {
  width: 90%;
  display: flex;
}

.school__top-text,
.school__top-img {
  width: 50%;
}

.school__photo-text,
.school__photo-img {
  width: 50%;
}

.school__top-heading,
.school__photo-heading {
  font-weight: bold;
  width: 50%;
  border-bottom: 1px solid #808080;
  color: #CD456B;
}

.school__photo-text p,
 .school__photo-text h3{
  margin-left: 20px;
}

.poster {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.poster__img {
  width: calc(100% / 4 - 1rem);
  margin: 0.5rem;
}

.poster__heading {
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  font-size: 1.5625rem;
  font-family: $font-Uniq;
}
.school-link {
  margin-top: 10px;
  color: #808080;
  text-align: right;
  width: 20%;
  transition: .3 linear;

  &:hover {
    color: #CD456B;
  }
  &:active {
    color: black;
  }
}
.rose-mark {
  color: #CD456B;
}

//////////////////Media ////////////
@media (min-width: 992px) and (max-width: 1200px){
  .school__photo-text p,
  .school__top-text p {
    font-size: .85rem;
  }
}
@media (min-width: 768px) and (max-width: 991px){
  .school__photo-text p,
  .school__top-text p {
    font-size: .66rem;
  }
}

@media (min-width: 480px) and (max-width: 767px){
  .school__top,
  .school__photo {
    flex-direction: column;
    align-items: center;
  }
  .school__top-text,
  .school__top-img {
    width: 90%;
  }
  .school__photo {
    margin-top: 20px;
  }

  .school__photo-text,
  .school__photo-img {
    width: 90%;
  }
  .school__photo-text p,
   .school__photo-text h3{
    margin-left: 0px;
  }
  .school__photo-text {
    order: 0;
  }
  .school__photo-img {
    order: 1;
  }
  .school-link {
    margin-bottom: 10px;
  }
  .poster__img {
    width: 51%;
  }
}

@media (max-width: 479px){
  .school__top,
  .school__photo {
    flex-direction: column;
    align-items: center;
  }
  .school__top-text,
  .school__top-img {
    width: 90%;
  }

  .school__photo-text,
  .school__photo-img {
    width: 90%;
  }

  .school__photo-text p,
   .school__photo-text h3{
    margin-left: 0px;
  }
  .school__photo-text {
    order: 0;
  }
  .school__photo-img {
    order: 1;
  }
  .school-link {
    width: 40%;
    margin-bottom: 10px;
  }
  .poster__img {
    width: 51%;
  }

}
