html, body {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 940px;
  margin: 0 auto;
}
a {
  display: block;
  text-decoration: none;
}
li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}



@media (min-width: 768px) and (max-width: 991px){
  html, body{
    font-size: 15px;
  }

}

@media (min-width: 480px) and (max-width: 767px){
  html, body{
    font-size: 14px;
  }
}

@media (max-width: 479px){
  html, body{
    font-size: 13px;
  }
}
