@mixin box-shadow($params) {
  box-shadow: $params;
  -webkit-box-shadow: $params;
  -moz-box-shadow: $params;
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

$font-Uniq: 'Gloria Hallelujah', cursive;


html::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(213,63,91,.3);
	background-color: #F5F5F5;
}

html::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

html::-webkit-scrollbar-thumb
{
	background-color: #808080;
  border-radius: 20px;
}
